<div id="<%= dom_id association %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= association.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Capacity:</strong>
    <%= association.capacity %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this association", association, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this association', edit_association_path(association), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
