<div id="<%= dom_id unit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= unit.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= unit.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Organisation:</strong>
    <%= unit.organisation_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this unit", unit, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this unit', edit_unit_path(unit), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
